* {
  margin: 0;
  padding: 0;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex: 1;
}

#quote-app-container {
    background-color: #DCEEDA;
    text-align: center;
    border: 1px solid #736372;
    border-radius: 10px;
    padding: 100px;
}



